<nav>
    <ul>
        <li><a href="{{ path('app_dashboard_index') }}">Dashboard</a></li>
        <li>Veranstaltungsorte
            <ul>
                <li><a href="{{ path('app_venue_add') }}">Anlegen</a></li>
                <li><a href="{{ path('app_venue_list') }}">Liste</a></li>
            </ul>
        </li>
    </ul>
</nav>