{% extends 'web/base.html.twig' %}

{% block body %}
    <div class="container mt-2">
        <div class="row align-items-center">
            <div class="col">
                <a href="{{ path('app_appointment_index') }}">Zur Übersicht</a>
            </div>
            <div class="col">
                <h1 class="h2">Veranstaltungs bearbeiten</h1>
            </div>
            <div class="col text-end">
                {{ include('web/appointment/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-6 mx-auto p-4 rounded-2 shadow-sm bg-body-secondary">
                {{ include('web/appointment/_form.html.twig', {'button_label': 'Speichern'}) }}
            </div>
        </div>
    </div>
{% endblock %}
