{% extends 'web/base.html.twig' %}

{% block body %}
    <h1>Veranstaltung hinzufügen</h1>

    <a href="{{ path('app_appointment_index') }}">back to list</a>

    {{ include('web/appointment/_form.html.twig') }}


{% endblock %}
